@import "src/Variables.scss";

.header {
  background-color: $blue;
  border-right: 2px solid $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  height: 100vh;
  position: sticky;
  width: $header-width;
  z-index: 100;

  left: 0;
  top: 0;
  padding: 10px;

  transition: $transition;

  &.closed {
    width: $header-width-closed;

    .logo-link {
      .logo {
        width: calc($header-width-closed - 5px);
      }
    }
  }

  &.dark {
    background-color: $dark-blue;
    border-right: 2px solid $blue;
  }

  .logo-link {
    display: flex;

    .logo {
      width: calc($header-width / 2);
      transition: $transition;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .navigation-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .navigation-item-name {
        &.closed {
          display: none;
        }
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  .menu-toggle {
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: -15px;
    background-color: $blue;
    border: 2px solid $dark-blue;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transform: rotate(180deg);
    transition: $transition;

    &.dark {
      background-color: $dark-blue;
      border: 2px solid $blue;
    }

    &.closed {
      transform: rotate(0deg);
    }
  }

  .color-options {
    display: flex;

    &.closed {
      flex-direction: column;
    }

    .color-option {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
  }
}
