@import "src/Variables.scss";

.header {
  background-color: $blue;
  border-right: 2px solid $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  height: 100vh;
  position: sticky;
  width: $header-width;

  left: 0;
  top: 0;
  padding: 10px;

  transition: all 0.2s ease;

  &.closed {
    width: $header-width-closed;
    .logo-link {
      .logo {
        width: calc($header-width-closed - 5px);
      }
    }
  }

  &.dark {
    background-color: $dark-blue;
    border-right: 2px solid $blue;
  }

  .logo-link {
    display: flex;
    .logo {
      width: calc($header-width / 2);
      transition: all 0.2s ease;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .navigation-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .navigation-item-name {
        &.closed {
          display: none;
        }
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  .menu-toggle {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -10px;
    background-color: $dark-blue;
    border: 2px solid $blue;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .navigation {
      // display: none;

      // &.open {
      //   display: flex;
      //   flex-direction: column;
      //   padding: 20px 80px;
      //   position: absolute;
      //   top: calc($header-width + 5px);
      //   right: 5px;
      //   text-align: center;
      //   z-index: 10;
      //   background: $blue;
      //   border: 2px solid $dark-blue;
      //   border-radius: 15px;

      //   &.dark {
      //     background-color: $dark-blue;
      //     border: 2px solid $blue;
      //     // color: $dark;
      //   }
      // }
    }
  }
}
